.message-time {
  font-size: 11px;
  color: #8e8e93;
  margin-top: 4px;
  margin-bottom: 12px;
  font-weight: 500;
  display: flex;
}

.message-time.sender {
  justify-content: flex-end;
  padding-right: 6px;
}

.message-time.recipient {
  justify-content: flex-start;
  padding-left: 6px;
}
